/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: rgb(47, 160, 83);
  padding: 20px;
  text-align: center;
  font-size: 15px;
  color: black;
}

/* Main content */
.container {
  background-color: rgb(185, 242, 234);
  display: flex;
  flex-direction: column;
  /* Take up all available space */
  flex: 1 0 auto;
}

/* Game instructions */
#instructionsTHING {
  margin: 10%;
  top: 20%;
  position: absolute;
  color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  display: none;
}

/* Screen buttons */
#btnStartGame {
  top: 40%;
  left: 30%;
  position: absolute;
  display: block;
}

#btnInstructions {
  top: 65%;
  left: 30%;
  position: absolute;
  display: block;
}

#btnReturnGame {
  margin: 0;
  position: absolute;
  top: 85%;
  left: 80%;
  transform: translate(-50%, -50%);
  display: none;
}

#btnReturnInstructions {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

ul {
  margin: 20px;
  list-style-type: none;
}

/* User game buttons */
button {
  background-color: rgb(90, 218, 203);
  padding: 10px 10px;
  left: 20%;
  margin: 0%;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(117, 179, 129);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.playerChoice {
  border: none;
  background: none;
  border-radius: 50%;
}

.playerChoice img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

#scoreboard {
  color: black;
  display: none;
  text-align: center;
}

#player {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}

#computer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}

#games {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}

/* Results */
#results {
  color: black;
  display: none;
  text-align: center;
}

/* Hide until a button is selected*/
#scoreboard,
#btnsPlayerChoice,
#results,
#btnReturnGame,
#btnReturnInstructions,
#instructionsTHING {
  display: none;
  transition: opacity 0.5s ease;
}


/* Footer */
footer {
  background-color: rgb(47, 160, 83);
  padding: 10px;
  text-align: center;
  color: black;
}

/* Media query for tablets (768px) */
@media only screen and (min-width: 768px) {
  #btnStartGame {
    top: 50%;
    left: 30%;
    display: block;
  }

  #btnInstructions {
    top: 50%;
    left: 55%;
    display: block;
  }

  #btnPlayerChoice {
    top: 50%;
    left: 30%;
    display: block;
  }
}

/* Media query for laptops (992px) */
@media only screen and (min-width: 992px) {
  #btnStartGame {
    top: 50%;
    left: 30%;
    display: block;
  }

  #btnInstructions {
    top: 50%;
    left: 55%;
    display: block;
  }

  #btnPlayerChoice {
    top: 50%;
    left: 30%;
    display: block;
  }
}
