/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: rgb(0, 51, 128);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    /* Take up all available space */
    flex: 1 0 auto;
}

/* Main */
main {
    background-color: rgb(206, 212, 241);
    text-align: center;
    color: white;
    /* Main element to take up all the remaining space */
    flex: 1 0 auto;
}  

#btnStart {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#btnInstructions {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

/* Buttons */
button {
    background-color: rgb(185, 223, 255);
    margin: 5%;
    padding: 15px 30px;
    position: relative;
    border: auto;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(150, 200, 255);
    transition: background-color 0.3s ease;
}

#scoreboard, #game, #results {
    display: none;
    transition: opacity 0.5s ease;
}

/* Footer */
footer {
    background-color: rgb(0, 51, 128);
    padding: 10px;
    text-align: center;
    color: white;
}